.header-container{
    display: flex;
    justify-content:center;
    align-items:center;
}
.logoLink{
    display: flex;
    justify-content:center;
    align-items:center;
    background: rgba(135, 207, 235, 0.481);
    width: 40%;
    margin-bottom: 10px;

}
.logoLink h1{
    font-size: 150%;
    margin: 10px
}
.logo{

    width: 20%;
    
}
img{
    margin: 10px;
}
