input {

    height: 30px;
    width: 40%;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 480px) {
    input {
        width: 80%;;
    }
  }

