.nav{
    display: flex;
    justify-content:space-evenly;
    margin-bottom:10px;

}
.nav h1{
    width:40%;
    background: lightblue;
    text-align: center;
    padding: 5px 0;
}
a{
    text-decoration: none;
    color:white;
}